/* Cabeçalho */
.header {
    height: 56px;
    opacity: 0.7;
  
   
    padding: 20px;
    background-color: black;
    border-bottom: 3px solid #d4a017;

width: auto;

border: #ff0e0e solid 4px;
display: flex;

}
header a{

text-decoration: none;
}

.botoes{
font-size: 20px;
color: #d4a017;

}
.botoes:hover{
    opacity: 0.4;
}
.logo {
    width: 60px;
    margin-right: 20px;
}



.titulo {
    margin: 0;
    font-size: 22px;
    color: #f8d47c;
}



.menu .btn {
    color: #f8d47c;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 2px;
    transition: 0.3s;
 
}

.menu .btn:hover {
    background: #d4a017;
    color: #000;
}
.menu {
    display: flex;
    align-items: center;
    gap: 20px; /* espaço entre elementos */
}

.who{
color: white;
text-decoration: none;
border-radius: 5px;
transition: 0.3s;
padding: 10px 15px;
}
.who:hover{
background-color: #08f100;


}


/* seria o que estaria junto no header*/

.casinhas {
    
margin-left: 200px;
margin-right: 10px;
}

.casinhas a{
font-size: 20px;
}



/* cabeçalho acabo aqui*/























/*penultimo rodape*/


 .dntcr{

background-color: rgb(172, 171, 171);
color: black;
height: auto;
margin-top: 1529px;
display: grid;
position: relative;

justify-items: center;

}

.duasd{
  display: grid;
  justify-items: center;
grid-template-columns:    1.5fr 2fr;

}
.datas1, .datas2{
margin-left: 60px;

}

.p1{
    font-family: "Open Sans", Sans-serif;
font-size: 17px;
}
.p2{

color: #3A424E;

}
.p1, .p2{
margin-left: -40px;

}


.fa-clock{
margin-left: -40;

}

.imagemnado{
width: 100%;
height: 100px;

}
/*cabo aqui */






/*ultimo rodape */

.kkk{
display: grid;
grid-template-columns: repeat(4, 200px);
gap: 20px;
align-items: start;
width: 100%;
padding: 20px;
box-sizing: border-box;
background-color: #3A424E;

}

.paginação{
display: flex;
flex-direction: column;
gap: 10px;
}
.other{
display: flex;
flex-direction: column;
gap: 10px;
}


.paginação ul{
margin-left: 220px;
}


.history ul{
  display: flex;
flex-direction: row;

}

.history li{
padding: 5px;
}

li{
list-style-type: none;
margin-bottom: 10px;
}

.flexado{
display: flex;
flex-direction: row;
}


@media only screen and (max-width: 599px) {
.duasd{
display: flex;
flex-direction: column;
}




}